# =========================
# Python / Django
# =========================

venv/
.venv/

__pycache__/
*.py[cod]

db.sqlite3

media/
assets/corel/
back/db.sqlite3


# Arquivos de ambiente
.env
.env.*

# Migrações compiladas
*.pyo

# =========================
# Node / React
# =========================

node_modules/

dist/
build/

# Vite
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# VS Code
# =========================

.vscode/

# JetBrains
.idea/

# =========================
# Sistema Operacional
# =========================

.DS_Store
Thumbs.db

# =========================
# Cache
# =========================

.pytest_cache/
.mypy_cache/
.coverage

# Python cache
*.egg-info/
.eggs/

# =========================
# Coverage
# =========================

htmlcov/

# =========================
# Static gerados
# =========================

staticfiles/
